<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
<preference for="Training\VirtualTypeExample\Api\WarehouseManagementInterface" 
type="Training\VirtualTypeExample\Model\WarehouseManagement"></preference>

<preference for="Training\VirtualTypeExample\Api\WarehouseRepositoryInterface" 
type="Training\VirtualTypeExample\Model\WarehouseRepository"></preference>

  
</config>