<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
  <type name="Training\PoolPattern\Model\CodeValidationPool">
      <arguments>
        <argument name="validations" xsi:type="array">
        <item name="CodeNotEmptyValidation" xsi:type="object">Training\PoolPattern\Model\CodeNotEmptyValidation</item>
         <item name="CodeLengthValidation" xsi:type="object">Training\PoolPattern\Model\CodeLengthValidation</item>
        </argument>
      </arguments>
  </type>

  
</config>