<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework/ObjectManager/etc/config.xsd">

    <type name="Training\ObserverExample\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">custom_logger</argument>
        </arguments>
    </type>

</config>
