<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="blocks_data" id="blocks_data">
            <module name="Training_PassDataToBlock"/>
        </route>
    </router>
</config>

